// Plugins
@import '~normalize.css';

// Variables and mixin
@import '@/styles/variables.scss';
@import '@/styles/mixin.scss';

// Global
@import '@/styles/global/fonts.scss';
@import '@/styles/global/basic.scss';

// Main
@import '@/styles/main/main.scss';
@import '@/styles/main/main-header.scss';
@import '@/styles/main/main-footer.scss';

// Common
@import '@/styles/common/animation.scss';
@import '@/styles/common/other.scss';
@import '@/styles/common/scroller.scss';
@import '@/styles/common/btn.scss';

.main-component {
	width: 100%;
	min-height: 150px;
	background-color: white;
	border-radius: 4px;
	padding: 20px;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
		flex-grow: 1;
	}

	&_one {
		height: 200px;
	}

	&_two {
		height: 350px;
	}

	&_three {
		height: 600px;
	}
}

.sidebar-component {
	width: 100%;
	min-height: 150px;
	background-color: white;
	border-radius: 4px;
	padding: 20px;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
		flex-grow: 1;
	}

	&_one {
		height: 150px;
		background-color: tomato;
	}

	&_two {
		height: 250px;
		background-color: burlywood;
	}

	&_three {
		height: 400px;
		background-color: cornflowerblue;
	}

	&_four {
		height: 100px;
		background-color: yellowgreen;
	}
}
